font-size: 28px;
font-family: 'Open Sans', verdana, arial, sans-serif;

  .values{
   color: red;
   border: 1px solid black;
   margin: 1px;
   padding: 2px;
  }

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #272C2F;
  color: #D4D4D4;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 18px;
  text-decoration: underline;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #272C2F;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #393E41;
  display: none;
  overflow: hidden;
    //overflow-y: scroll;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  //background-color: #F4E623;
  float: right;
  margin-left: 5px;
  color: black;
  display: inline-block;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
  color: white;
}

.holding_name {
    color:white;
}

.holding_value {
    text-align: center;
    font-size: 20px;
}

.holding_table{
  th {
    border: 1px solid black;
    border-collapse: collapse;
    }
}

.RoundCB{
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
  margin: 4px 2px;
  width: 80px;
  height: 80px;
  box-shadow: 0 0 5px 2px gray;
  text-align: center;
}
.FreqRange{
  display: inline-block;
  width: 300px;
  height: 10px;
  padding: 0;
  color:white;
}

.FreqDigit{
  display: inline-block;
  padding: 0px;
  font-size: 40px;
  width: 100px;
  text-align: center;
  border: 0;
  color:#F97405;
  background: #393E41;
}