<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src='{{static_url("scripts/plotly/plotly-latest.min.js")}}'></script>
<!--    https://plotly.com/javascript/-->
    <script>

          name = document.getElementById('grafic').innerHTML
    var graphDiv =  Plotly.newPlot(
        'plotlyIndi'+i,
        data = [{
            domain: { x: [0, 1], y: [0, 1] },
            value: 0.0,
            valueformat: "0.0f",
            title: {
                font: {size:18, color: '#F4E623'},
                text: name,
                opacity: 1
                },
            type: "indicator",
            mode: "number",
            gauge: { axis: { range: [null, 1000] } },
            delta: { reference: 0, valueformat: '.0f' },
            number: {valueformat: '0.1f'}
        }],
        layout = {
            font:{color:"#F97405"},
            paper_bgcolor: "#272C2F",
            autosize: "true",
            width: 240,
            height: 120,
            margin: {l:0,r:0,t:35,b:0,pad:0}
        }
    );

    //Plotly.update("plotlyIndi"+key.slice(9,10), {value : Number(dict[key].value)/10}, {});

    </script>
</head>
<body>
        <div id="grafic" style=" display: inline-block;"></div>

</body>
</html>