<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Стенд 5.5 кВт</title>
    <link rel="stylesheet" href="{{ static_url("style.css")}}">
    <p style="
        color: #69808B;
        text-align:center;
        margin:10 auto;
        font-size: 28px;
        font-family: 'Open Sans', verdana, arial, sans-serif;
        font-weight: bolder;
    ">ИСПЫТАТЕЛЬНЫЙ СТЕНД 5.5 кВт</p>
</head>

<div style="display: none;">
<!--    имена индикаторов-->
        {% for i in range(len(input_names)) %}
            <p id = {{"input_record"+str(i)}} class="menu_values">
            <span class=names id={{'iname'+str(i)}}>{{ input_names[i][0] }}</span></p>
        {% end %}
</div>

<body style="
       // background:  radial-gradient(ellipse, #36454D, #1A1A1A);
        background: #1A1A1A;
        font-size: 18px;
        color:white;
        font-family: 'Open Sans', verdana, arial, sans-serif ">
    <script type="text/javascript">
        function OnHoldingPanelOpen (el, name){ // хэндлер выпадающего списка
            // раскрытие панели
            el.classList.toggle("active");
            var panel = el.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else { panel.style.display = "block";};
            // скрытие не назначенных пунктов
            if(name == '') return;
            rec = document.getElementsByClassName(name);
            for (k=0; k < rec.length; k++) {
                // disable unused element
                if(rec[k].value == "na") {
                    let tmp = "holding_record"+k;
                    document.getElementById(tmp).style.display = "None";
                }else{
                     // switching listbox
                     var ls = document.getElementsByName("HoldingListBox"+k)[0];
                     if(ls != null) ls.value = rec[k].value;
                }
            }
        }
    </script>
    <div style="
        background-color:#272C2F;
        color: #909091;
        font-family:'Open Sans', verdana, arial, sans-serif">

        <span>В работе:</span> <span ID="MPCH_LiveTime"> 0 <span> мин </span></span></br>
        <span>Всего пакетов:</span> <span ID="MPCH_ConCnt"> 0 <span> </span></span></br>
    </div>
<!-- Статус -->
    <div>
<!--    Цифровые индикаторы        -->
          <div style=" background-color:#272C2F;color: #909091; font-family:'Open Sans', verdana, arial, sans-serif">
              <p style = "background-color: #272C2F; color: #D4D4D4; padding: 5px; text-align: left;text-decoration: underline;font-size: 18px;"> Индикаторы МПЧ </p>
              <span>ID устройства:</span> <span ID="MPCH_ID">нет устройства</span><input type="image" src={{static_url('img/refresh.png')}} height="15"  onclick="
                 tmp = document.getElementById('MPCH_ID')
                 tmp.innerHTML='обновление'
                 sendCommand('MPCH_reconnect')
                 sendCommand('MPCH_Get_SlaveID') "/></br>
              <span>Код статуса: </span>   <span id={{"plotlyIndi"+str(0)}}> 0 <span> </span></span></br>
              <span>Ошибок связи: </span>  <span ID="MPCH_ConErr"> 0 <span> </span></span></br>
              <a href = {{logfile.name}} target="_blank" style="color:#F97400;"> Посмотреть лог </a>
         </div>

            <table style="font-size: 10px; margin:10 auto" align="center">

                <tr>
                    <td colspan="3"><div ID="MPCH_Status" style="
                text-align:center;
                margin:10 auto;
                font-size: 32px;
                font-family: 'Open Sans', verdana, arial, sans-serif;
                font-weight: bold;
                background-color:#272C2F;
                padding: 5px;
             ">  нет соединения  </div></td>
                </tr>

                <tr><td align="right" width="200"><table style=" display: inline-block; background: #272C2F;">
                    <tr align = "center"><td class="idndi_label">{{ input_names[1][0] }}</td></tr>
                    <tr><td id={{"plotlyIndi"+str(1)}} class="idndi_digit" style="cursor: pointer;"
                        onclick="window.open('/statistics');"
                        >0.0</td></tr></table></td>

                    <td align="right" width="200"><table style=" display: inline-block; background: #272C2F;">
                        <tr align = "center"><td class="idndi_label">{{ input_names[5][0] }}</td></tr>
                        <tr><td id={{"plotlyIndi"+str(5)}} class="idndi_digit" style="cursor: pointer;"
                        onclick="window.open('/statistics');"
                        >0.0</td></tr></table></td>

                    <td align="right" width="200"><table style=" display: inline-block; background: #272C2F;">
                        <tr align = "center"><td class="idndi_label">{{ input_names[6][0] }}</td></tr>
                        <tr><td id={{"plotlyIndi"+str(6)}} class="idndi_digit" style="cursor: pointer;"
                        onclick="window.open('/statistics');"
                        >0.0</td></tr></table></td>
                </tr>

                <tr><td align="right" width="200"><table style=" display: inline-block; background: #272C2F;">
                        <tr align = "center"><td class="idndi_label">{{ input_names[2][0] }}</td></tr>
                        <tr><td id={{"plotlyIndi"+str(2)}} class="idndi_digit" style="cursor: pointer;"
                        onclick="window.open('/statistics');"
                        >0.0</td></tr></table></td>

                    <td align="right" width="200"><table style=" display: inline-block; background: #272C2F;">
                        <tr align = "center"><td class="idndi_label">{{ input_names[3][0] }}</td></tr>
                        <tr><td id={{"plotlyIndi"+str(3)}} class="idndi_digit" style="cursor: pointer;"
                                onclick="window.open('/statistics');"
                        >0.0</td></tr></table></td>

                    <td align="right" width="200"><table style=" display: inline-block; background: #272C2F;">
                        <tr align = "center"><td class="idndi_label">{{ input_names[4][0] }}</td></tr>
                        <tr><td id={{"plotlyIndi"+str(4)}} class="idndi_digit" style="cursor: pointer;"
                        onclick="window.open('/statistics');"
                        >0.0</td></tr></table></td>
                </tr>
            </table>
    </div>
    <div> <!--блок выпадающих списков-->
        <!--выпадающий список управление-->
        <button class="accordion" onclick="OnHoldingPanelOpen(this, '')">Управление МПЧ</button>
        <div class="panel"> <!--выпадающий список управление-->
        <div><table border="0" cellpadding="5" cellspacing="0" align="center">  <!--таблица с элементами управления-->
            <tr> <!--Регуляторы--> <!--    Регулятор  частоты МПЧ       -->
                <td colspan="3" ><p style = "font-size: 18px;" >Задание частоты</p></td>
            </tr>
             <tr>
                <td colspan="2"><input type="range" aling="center" class="slider" min="0" max="1000"  value="0" step="1" id="MPCH_FreqCntrl"
                onchange="
                        var val = document.getElementsByName('MPCH_hreg5')[0].value;
                        if(val==null) return;
                        tmp = Number(val*this.value/1000).toFixed(0);
                        sendCommand('MPCH_Set_OneHolding',3, tmp);
                        sendCommand('MPCH_Get_OneHolding',3, 0);
                        set_value_by_id('MPCH_FRI', (tmp*0.1).toFixed(1), 'red');
                "
                oninput="
                        var val = document.getElementsByName('MPCH_hreg5')[0].value;
                        if(val==null) return;
                        tmp = Number(val*this.value*0.001);
                        set_value_by_id('MPCH_FRI', (tmp*0.1).toFixed(1), 'blue');
                "
                 ></td><td align="center" ><span id="MPCH_FRI">0</span> Гц</td>
             </tr>
             <tr> <!--    Регулятор  направления МПЧ       -->
                <td colspan="3"><p style = "font-size: 18px;" >Направление вращения</p></td></tr>
             <tr>
             <tr><td colspan="2"><input type="range" aling="center" class="slider" min="0" max="1"  value="0" step="1" id="MPCH_DirCntrl"
                onchange="
                        if(this.value == 1)set_value_by_id('MPCH_FDI', 'Обратное', 'red');
                        if(this.value == 0)set_value_by_id('MPCH_FDI', 'Прямое', 'red');
                        sendCommand('MPCH_Set_OneHolding',4, this.value);
                        sendCommand('MPCH_Get_OneHolding',4, 0);
                "
            ></td><td align="center" ><span id="MPCH_FDI">Вперед</span></td></tr>

             <tr> <!--Кнопки управления -->
                <td width="300"  align="right"><!--кнопка пуск-->
                <button class="RoundCB" style="background-color: #74BD79;"
                    onclick=" sendCommand('MPCH_Set_OneHolding',0, '1') ">ПУСК</button>
                </td>
                <td width="300"> <span> </span></td>
                <td align="left" width="300"><!--кнопка стоп сброс-->
                    <button class="RoundCB" style="background-color: #E45B59;"
                        onclick=" sendCommand('MPCH_Set_OneHolding',0, '2'); sendCommand('MPCH_Set_OneHolding',0, '4');">
                        <table rules="rows" align="center">
                            <tr><td>СТОП</td></tr>
                            <tr><td>Сброс</td></tr>
                        </table>
                    </button>
                </td>
            </tr>

        </table></div>
    </div>

<!--выпадающий список регистров хранения-->
<!--<button class= "accordion" onclick="OnHoldingPanelOpen(this,'input')">Индикаторы</button>-->
<!--<div class="panel">-->
<!--        {% for i in range(len(input_names)) %}-->
<!--        <p id = {{"input_record"+str(i)}} class="menu_values">-->
<!--            <span class=names id={{'iname'+str(i)}}>{{ input_names[i][0] }}</span>-->
<!--            <input class=input_values name={{"MPCH_ireg"+str(i)}} type="text" value="na">-->
<!--        </p>-->
<!--        {% end %}-->
<!--</div>-->

<!--выпадающий список регистров ввода-->
        <button class="accordion" onclick="OnHoldingPanelOpen(this,'holding_value')">Параметры МПЧ</button>
        <div class="panel" style="overflow-y: scroll; height: 400px;"> <!--выпадающий список регистров ввода-->
              <script type="text/javascript">
                function OnSelectionChange (select) { // изменение input по выпадающему списку
                    var inp = document.getElementsByName('MPCH_hreg'+(select.name).substring(14))[0];
                    inp.value =  select.options[select.selectedIndex].value;
                    inp.onchange();
                }

                function HoldingInputOnChange(item,index){
                    item.style.background = 'red'
                    sendCommand('MPCH_Set_OneHolding',index,item.value)
                    var tmp = document.getElementsByName("HoldingListBox"+index)[0];
                    if(tmp != null) tmp.value = item.value;
                }
            </script>

            <table class="holding_table" rules="rows" border="1" bordercolor = "#1A1A1A" cellpadding="5">
                {% for i in range(len(holding_names)) %}
                <tr id = {{"holding_record"+str(i)}} class="holding_row">
                    <td><span class="holding_name">{{holding_names[i][0]}}</span></td>
                    <td><input type="text" class="holding_value"
                           size = "5" name = {{"MPCH_hreg"+str(i)}} value="na"
                           onchange=" HoldingInputOnChange(this,{{i}})" >
                    </td>
                    <td><input type="image" src={{static_url('img/refresh.png')}} height="15" onclick="
                        sendMessage('{&quot;CMD&quot;:&quot;MPCH_Get_OneHolding&quot;,&quot;ADR&quot;:&quot;{{i}}&quot;}');
                        tmp = document.getElementsByName('{{'MPCH_hreg'+str(i)}}');
                        tmp[0].style.background = 'red'; ">
                    </td>
                    <td>
                        {% if len(holding_names[i]) > 1 %}
                        <select name = {{"HoldingListBox"+str(i)}} onchange="OnSelectionChange(this)"
                                style="width: 250px; font-size: 18px"
                        >
                            {% for el in holding_names[i][1] %}
                            <option value = {{el[1]}}>{{el[0]}} </option>
                            {% end %}
                         <option value="" selected disabled hidden > не выбран</option>
                        </select>
                        {% end %}
                    </td>
                </tr>
                {% end %}
            </table>
            <!-- кнопка загрузить из файла-->
            <button class="accordion" onclick="OnHoldingPanelOpen(this,'holding_value')">Загрузить параметры из файла</button>
            <div class = panel>
                <p>Параметры в устройстве будут перезаписаны значениями из файла</p>
                <input type="file" class="custom-file-input" id="loadFromfile" onChange="
                    let files = document.getElementById('loadFromfile').files;
                    file=files.item(0);
                    console.log(file.name);
                    var reader = new FileReader();
                    reader.onload = function(event)
                    {
                        var contents = event.target.result;
                        result = contents.split(/\r\n|\n/);
                        tmp = document.getElementsByClassName('holding_value');
                        for (i=0; i < tmp.length; i++)
                        {
                            if(tmp[i].value == 'na') continue;
                            tmp[i].value = result[i+1];
                            tmp[i].style.background = 'red';
                            sendMessage(
                            '{&quot;CMD&quot;:&quot;MPCH_Set_OneHolding&quot;,&quot;ADR&quot;:&quot;'+i+'&quot;,&quot;VL&quot;:&quot;'+tmp[i].value+'&quot;}'
                            );
                        }
                    };
                    reader.onerror = function(event) {
                        console.error('Файл не может быть прочитан! код ' + event.target.error.code);
                    };
                    reader.readAsText(file)
                "></br>
            </div>
<!-- кнопка сохранить в файл   -->
            <button class="accordion" onclick="OnHoldingPanelOpen(this,'holding_value')">Сохранить параметры в файл</button>
            <div class="panel">
                <p>Параметры из таблицы будут сохранены в файл</p>
                <input type="file" class="custom-file-output" id="saveTofile" onChange="
                    <!--TODO-->
                ">
<!-- <button onclick="sendMessage('{&quot;CMD&quot;:&quot;MPCH_saveToFile&quot;}')"> Сохранить в файл</button></br>    -->
            </div>
<!-- кнопка записать все параметры-->
            <button class="accordion" onclick="OnHoldingPanelOpen(this,'holding_value')">Записать все параметры в МПЧ</button>
            <div class="panel">
                <p>Параметры в устройстве будут перезаписаны значениями из таблицы</p>
                <button onclick="
                    tmp = document.getElementsByClassName('holding_value');
                    for (i=0; i < tmp.length; i++) {
                    if(tmp[i].value == 'na') continue;
                    tmp[i].style.background = 'red';
                    sendMessage(
                    '{&quot;CMD&quot;:&quot;MPCH_Set_OneHolding&quot;,&quot;ADR&quot;:&quot;'+i+'&quot;,&quot;VL&quot;:&quot;'+tmp[i].value+'&quot;}'
                    );}
                "> Записать</button></br>
            </div>
<!-- кнопка считать все параметры-->
            <button class="accordion" onclick="OnHoldingPanelOpen(this,'holding_value')">Считать все параметры из МПЧ</button>
            <div class="panel">
                <p>Параметры в таблице будут перезаписаны значениями из устройства</p>
                <button onclick="
                    sendMessage('{&quot;CMD&quot;:&quot;MPCH_Get_AllHoldings&quot;}');
                    tmp = document.getElementsByClassName('holding_value');
                    for (k=0; k < tmp.length; k++) tmp[k].style.background = 'red';
                "> Считать</button>
            </div>
<!-- кнопка сохранить в МПЧ-->
            <button class="accordion" onclick="OnHoldingPanelOpen(this,'holding_value')">Сохранить в память</button>
            <div class="panel">
                <p>Параметры в в устройстве будут сохранены в энергонезависимую память</p>
                <button onclick="
                    sendMessage('{&quot;CMD&quot;:&quot;MPCH_Get_AllHoldings&quot;}');
                    tmp = document.getElementsByClassName('holding_value');
                    for (k=0; k < tmp.length; k++) tmp[k].style.background = 'red';
                    <!--            TODO-->
                "> Сохранить</button>
            </div>
<!-- кнопка поумолчанию МПЧ-->
            <button class="accordion" onclick="OnHoldingPanelOpen(this,'holding_value')">Сброс по умолчанию</button>
            <div class="panel">
                <p>Параметры в устройстве будут перезаписаны заводскими установками</p>
                <button onclick="
                    sendMessage('{&quot;CMD&quot;:&quot;MPCH_Get_AllHoldings&quot;}');
                    tmp = document.getElementsByClassName('holding_value');
                    for (k=0; k < tmp.length; k++) tmp[k].style.background = 'red';
                <!--            TODO-->
                "> Сохранить</button></br>
            </div>
        </div>
<!--выпадающий список управление нагрузкой-->
        <button class="accordion" onclick="OnHoldingPanelOpen(this, '')">Управление нагрузкой</button>
        <div class="panel">
            <div style="
                    margin: 5px;
                   // background-color:#272C2F;
                   // color: #909091;
                    font-family:'Open Sans', verdana, arial, sans-serif">
                <span>ID устройства:</span> <span ID="Schn_ID">нет устройства</span>
                <input type="image" src={{static_url('img/refresh.png')}} height="15"  onclick="
                     tmp = document.getElementById('Schn_ID')
                     tmp.innerHTML='обновление'
                     sendCommand('Schn_reconnect')
                     sendCommand('Schn_getID') "/></br>
            </div>

            <table style=" background: #272C2F; font-size: 24px;"  align="center" >
                <tr > <!--    Цифровые индикаторы        -->
                    <td align="right" width="300">
                        <table style=" display: inline-block; background: #272C2F;" >
                            <tr align = "center"><td class="idndi_label">Скорость, об/мин</td></tr>
                            <tr><td id="SchnI0" class="idndi_digit">0.0</td></tr>
                        </table>
                    </td>
                    <td align="center" width="300">
                        <table style=" display: inline-block; background: #272C2F;" >
                            <tr align = "center"><td class="idndi_label">Ток, А</td></tr>
                            <tr><td id="SchnI1" class="idndi_digit">0.0</td></tr>
                        </table>
                    </td>
                    <td align="left" width="300">
                        <table style=" display: inline-block; background: #272C2F;" >
                            <tr align = "center"><td class="idndi_label">Момент, %</td></tr>
                            <tr><td id="SchnI2" class="idndi_digit">0.0</td></tr>
                        </table>
                    </td>
                </tr>
                <tr valign="top"> <!--    Кнопки управления        -->
                    <td align="center">
                        <button class="RoundCB" style="background-color: #74BD79;" onclick=" sendCommand('Schn_start');" >ПУСК</button>

                    </td>
                    <td align="center" valign="top">
                         <p ID="Schn_St">нет устройства</p>
                    </td>
                    <td align="center">
                         <button class="RoundCB" style="background-color: #E45B59;" onclick=" sendCommand('Schn_stop'); sendCommand('Schn_reset');">
                            <table rules="rows" align="center">
                                <tr><td>СТОП</td></tr>
                                <tr><td>Сброс</td></tr>
                             </table>
                        </button>
                    </td>
                </tr>
                <!--    Регуляторы        -->
                <!--    Регулятор момента в ген. режиме       -->
                <tr><td colspan="3"><p style = "font-size: 18px;" >Момент в генераторном режиме</p></td></tr>
                <tr>
                    <td colspan="2"><input type="range" aling="center" class="slider" min="0" max="1000"  value="0" step="1" id = Schn_GenTrqRng
                               onchange="sendCommand('Schn_setGenTorq', 0, this.value);  set_value_by_id('SchnI4', (this.value/10).toString(), 'red');"
                               oninput=" set_value_by_id('SchnI4', (this.value/10).toString(), 'blue'); "
                    ></td>
                     <td align="center" ><span id="SchnI4">0</span> %</td>
                </tr>
                <!--    Регулятор момента в мотор. режиме       -->
                <tr><td colspan="3"><p style = "font-size: 18px;" >Момент в двигательном режиме</p></td></tr>
                <tr>
                    <td colspan="2"><input type="range" aling="center" class="slider" min="0" max="1000"  value="0" step="1" id = Schn_MtrTrqRng
                               onchange="sendCommand('Schn_setMtrTorq', 0, this.value); set_value_by_id('SchnI5', (this.value/10).toString(), 'red');"
                               oninput=" set_value_by_id('SchnI5', (this.value/10).toString(), 'blue'); "
                    ></td>
                     <td align="center" ><span id="SchnI5">0</span> %</td>
                </tr>
                <!--    Регулятор частоты       -->
                 <tr><td colspan="3"><p style = "font-size: 18px;" >Частота</p></td></tr>
                <tr>
                    <td colspan="2"><input type="range" aling="center" class="slider" min="-500" max="500"  value="0" step="1" id = Schn_FreqRng
                               onchange="sendCommand('Schn_setFreq', 0, this.value); set_value_by_id('SchnI3', (this.value/10).toString(), 'red');"
                               oninput=" set_value_by_id('SchnI3', (this.value/10).toString(), 'blue'); "
                    ></td>
                    <td align="center" ><span id="SchnI3" style="width = 10px; ">0</span> Гц</td>
                </tr>
            </table>
        </div>
<!--выпадающий список пустой-->
        <button class="accordion" onclick="OnHoldingPanelOpen(this, '')">Сценарии тестов</button>
        <div class="panel"> <!--выпадающий список управление-->
        </div>
<!--выпадающий список bootloade-->
        <button class="accordion" onclick="OnHoldingPanelOpen(this, '')">Загрузчик МПЧ</button>
        <div class="panel"> <!--выпадающий список сравнить-->
            <div id="bconsol" style="height: 75px; overflow-y: scroll !important;"> </div>
            <button class="accordion" onclick="OnHoldingPanelOpen(this,'holding_value')">Сравнить</button>
            <div class = panel>
                <p>Файл прошивки в МПЧ будет сравниваться с данными в файле</p>
                <input type="file"  accept=".hex, .HEX" class="custom-file-input" id="verifyHex" onChange="
                    let files = document.getElementById('verifyHex').files;
                    file=files.item(0);
                    console.log(file.name);
                    var reader = new FileReader();
                    reader.onload = function(event)
                    {
                        var contents = event.target.result;
                        result = contents.split(/\r\n|\n/);
                        sendCommand('loader_verify', 0, result);
                    };
                    reader.onerror = function(event) {
                        console.error('Файл не может быть прочитан! код ' + event.target.error.code);
                    };
                    reader.readAsText(file)
                    tmp = document.getElementById('bconsol');
                    tmp.innerHTML=''

                "></br>
            </div>
            <button class="accordion" onclick="OnHoldingPanelOpen(this,'holding_value')">Прошить</button>
            <div class = panel>
                <p>Файл прошивки в МПЧ будет сравниваться с данными в файле</p>
                <input type="file"  accept=".hex, .HEX" class="custom-file-input" id="loadHex" onChange="
                    let files = document.getElementById('loadHex').files;
                    file=files.item(0);
                    console.log(file.name);
                    var reader = new FileReader();
                    reader.onload = function(event)
                    {
                        var contents = event.target.result;
                        result = contents.split(/\r\n|\n/);
                        sendCommand('loader_write', 0, result);
                    };
                    reader.onerror = function(event) {
                        console.error('Файл не может быть прочитан! код ' + event.target.error.code);
                    };
                    reader.readAsText(file)
                    tmp = document.getElementById('bconsol');
                    tmp.innerHTML=''

                "></br>
            </div>

        </div>
    </p>
</body>
<footer>
<!--    <p>powered by SergeyTyagus</p>-->
    <script src='{{static_url("scripts/index.js")}}'></script>
</footer>
</html>