<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Стенд 5.5 кВт Статистика</title>
    <script src='{{static_url("scripts/plotly/plotly-latest.min.js")}}'></script>
<!--    https://plotly.com/javascript/-->
     <meta http-equiv="Refresh" content="30" />
     <p style="
        color: #69808B;
        text-align:center;
        margin:10 auto;
        font-size: 28px;
        font-family: 'Open Sans', verdana, arial, sans-serif;
        font-weight: bolder;
    ">ИСПЫТАТЕЛЬНЫЙ СТЕНД 5.5 кВт </br> СТАТИСТИКА</p>
</head>
<body>

<div style="display: none;">
<!--    имена индикаторов-->
        {% for i in range(len(input_names)) %}
            <span class=names id={{'iname'+str(i)}}>{{ input_names[i][0] }}</span></p>
        {% end %}

</div>

    {% for i in range(10) %}
        <p id={{'graf'+str(i)}} style=" display: inline-block;"></p>
    {% end %}

<div id="path"> {{ logfile.name }} </div>
</body>

   <script src='{{static_url("scripts/stat.js")}}'></script>

</html>